<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="RealPlazaChallenge.Application.Services.Product.ProductService">
                <endpoint address="" binding="basicHttpBinding" contract="RealPlazaChallenge.Application.Services.Product.IProductService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/RealPlazaChallenge.Application.Services.Product/ProductService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="RealPlazaChallenge.Application.Services.User.UserService">
                <endpoint address="" binding="basicHttpBinding" contract="RealPlazaChallenge.Application.Services.User.IUserService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/RealPlazaChallenge.Application.Services.User/UserService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="RealPlazaChallenge.Application.Services.Security.SecurityService">
                <endpoint address="" binding="basicHttpBinding" contract="RealPlazaChallenge.Application.Services.Security.ISecurityService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/RealPlazaChallenge.Application.Services.Security/SecurityService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
